<h2 id="graeme">
  <%= image_tag 'brian.jpg', alt: 'Photo of Brian Mathieson', class: 'img-responsive img-circle center-block' %>
  Brian Mathieson
</h2>

<p class="lead">
  After graduating in 1974 from Glasgow University, I was employed for 33 years as a teacher at Blantyre High School, moving through the Guidance system to the post of Depute Head Teacher.
</p>

<h3>Projects</h3>

<p>
  My primary web project is <%= utm_link_to 'songsinger.info', 'http://songsinger.info' %>, a site devoted to the music of
  Richie Havens, <%= utm_link_to 'David Ackles', 'http://songsinger.info/da/index.html' %>,
  <%= utm_link_to 'Tim Rose', 'http://songsinger.info/tr/index.html' %>,
  <%= utm_link_to 'The Sutherland Brothers', 'http://songsinger.info/sbq/index.html' %>,
  <%= utm_link_to 'Tim Hardin', 'http://songsinger.info/th/index.html' %>, and
  <%= utm_link_to 'Gerry Rafferty', 'http://songsinger.info/gr/index.html' %>.
</p>

<h3>Social Media</h3>

<p>
  You can find Brian (reluctantly!) on Twitter, Facebook, or LinkedIn:
</p>

<ul class="list-inline text-center h3 p-y-md">
  <li>
    <a href="https://twitter.com/mathieson" title="Follow me on Twitter" target="_blank" data-toggle="tooltip" data-placement="bottom">
      <span class="icon icon-twitter"></span>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/brian.mathieson.73" title="Keep in touch on Facebook" target="_blank" data-toggle="tooltip" data-placement="bottom">
      <span class="icon icon-facebook"></span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/bmathieson" title="Connect with me on LinkedIn" target="_blank" data-toggle="tooltip" data-placement="bottom">
      <span class="icon icon-linkedin"></span>
    </a>
  </li>
</ul>

<h3>Latest tweets</h3>

<blockquote class="embedly-card" data-card-key="1643b974f9ba429ca3bbfb1fbd462fc3" data-card-type="article-full">
  <h4><a href="https://twitter.com/mathieson">Brian Mathieson (@mathieson) | Twitter</a></h4>

  <p>
    The latest Tweets from Brian Mathieson (@mathieson): "The most offensive headline ever? Shut down the #DailyMail . If I sought death of #Rothermere family I'd be jailed. https://t.co/zxnhRQZysz"
  </p>
</blockquote>
